<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028159851236-2dlerf8k1m576t2vtn86f2n8nbpbabot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028159851236-2dlerf8k1m576t2vtn86f2n8nbpbabot</string>
	<key>API_KEY</key>
	<string>AIzaSyC174f7gl8adv7ojwRv0gGcrlzFSkVCmPk</string>
	<key>GCM_SENDER_ID</key>
	<string>1028159851236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bluqiu.HackDuke-SymMom2</string>
	<key>PROJECT_ID</key>
	<string>hackduke-symmom2</string>
	<key>STORAGE_BUCKET</key>
	<string>hackduke-symmom2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028159851236:ios:eab233c47d13bf8f33faf1</string>
</dict>
</plist>